parameters:
    level: 6
    paths:
    - src/
    - tests/
    ignoreErrors:
    - path: 'src/DependencyInjection/Configuration'
      message: '#Call to an undefined method .+children#'
    - path: 'src/PsyshBundle'
      message: '#ReflectionClass\): void given#'
