<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <php>
    <server name="KERNEL_CLASS" value="Fidry\PsyshBundle\Functional\AppKernel"/>
  </php>
  <testsuites>
    <testsuite name="PsyshBundle Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
