<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="Tests/TestApp/bootstrap.php"
        >

    <php>
        <server name="KERNEL_DIR" value="Tests/TestApp/" />
    </php>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>

    <testsuites>
        <testsuite name="PsyshBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests/TestApp</directory>
            </exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Tests</directory>
            <exclude>
                <directory suffix=".php">./Tests/TestApp</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
