<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="Tests/TestApp/bootstrap.php"
        >

    <php>
        <server name="KERNEL_DIR" value="Tests/TestApp/" />
    </php>

    <testsuites>
        <testsuite name="PsyshBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <testsuites>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </testsuites>
</phpunit>
